.section-maleta {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

}    

.custom-dropdown{
    width: 100%;
}

.packing-list-title {
    font-size: 20px;
    margin: 20px 0px;
}

.packing-list {
    list-style: none;
    padding: 0;
}

.packing-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.packing-item.checked .item-input {
    text-decoration: line-through;
    color: #888;
}

.item-checkbox {
    margin-right: 10px;
}

.item-input {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: aliceblue;
}

.add-item-button {
    background-color: #5eb1af;
    color: #111d3b;
    border: none;
    width: 100px;
    border-radius: 3px;
    padding: 4px 10px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 30%;
}
